* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #FFDADA;
}

/*DIVS GERAIS*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    background-color: #4F0E0E;
    padding: 10px 2% 22px 2%;
}

.logo-1{
    float: left;
    width: 280px;
    height: 90px;
    background-image: url('../project-02/images/lar-dos-velhinhos.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    /*background-color: green;*/
}

.logo-2{
    float: right;
    width: 280px;
    height: 90px;
    background-image: url('../project-02/images/Construtora-Carvalho-Junior.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: pink;
}

.cover-form{
    width: 100%;
    padding: 0 2%;
}

.bg{
    height: 700px;
    background-position: center;
    background-size: cover;
    background-image: url('../project-02/images/asilo.jpg');
}

.form-container{
    float: right;
    margin-right: 40px;
    width: 400px;
    height: 80%;
    position: relative;
    top: 5%;
    background-color: #fff1f1a1;
    z-index: 2;
}

.form-container h2{
    font-weight: normal;
    padding: 25px 15px;
    color: black;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    background-color: #fff1f1e3;
}

.form-container form{
    margin-top: 8px;
    padding: 15px;
}

.form-container form p{
    margin-bottom: 4px;
    font-size: 14px;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.form-wrapper:not(:first-child){
    margin-top: 40px;
}

.form-container form input[type=text]{
    width: 100%;
    border: 1px solid #4F0E0E;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}

.form-container form .form-wrapper p1{
    color: red;
}

.form-container:last-child{
    margin-top: 20px;
}

.form-container form input[type=submit]{
    width: 100%;
    background-color: #4f0e0e8f;
    color: #FFF1F1;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

.form-container form input[type=submit]:hover{
    background-color: #4f0e0e;
    transition: 0.3s;
    cursor: pointer;
}

section.chamada{
    z-index: 1;
    padding: 50px 0;
    width: 100%;
    position: relative;
    top: -50px;
    text-align: center;

}

section.chamada .container{
    padding: 50px 0;
    background-color: #4F0E0E;
}

section.chamada h2{
    width: 96%;
    max-width: 700px;
    display: inline-block;
    color: #FFF1F1;
    font-size: 46px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
}

section.chamada h3{
    color: #FFF1F1;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}


@media screen and (max-width: 510px){
    header{
        text-align: center;

    }

    [class^="logo"]{
        margin-top:10px;
        display: inline-block;
        float: none;
    }
}
/*******************************************************************/